<%- model_class = OptimizeItem -%>
<div class="page-header">
  <h1>优化项目</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:from) %></th>
      <th><%= model_class.human_attribute_name(:in_charge) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
      <th>编号</th>
      <th>优化内容</th>
      <th>状态</th>
      <th>来源</th>
      <th>负责人</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @optimize_items.each do |optimize_item| %>
      <tr>
        <td><%= link_to optimize_item.id, optimize_item_path(optimize_item) %></td>
        <td><%= markdown optimize_item.content %></td>
        <td><%= optimize_item.status %></td>
        <td><%= optimize_item.from %></td>
        <td><%= optimize_item.in_charge %></td>
        <td><%=l optimize_item.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_optimize_item_path(optimize_item), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      optimize_item_path(optimize_item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_optimize_item_path,
            :class => 'btn btn-primary' %>
