<%- model_class = Item -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1> -->
  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 6em; width: <%= @finish %>%;">
    完成度<%= @finish %>%
  </div>
</div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@mdo">新增</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th> 
      <th>状态</th>
      <th>内容</th>
      <th>负责人</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <% if item.status == false %>
      <tr class="success" >
    <% else %>
      <tr>
    <% end %>
        <td><%= link_to item.id, item_path(item) %></td>
        <!-- <td><%= check_box_tag '完成', item.id, item.status %> 完成 </td> -->
        <td>
          <!--<% if item.status == true %>
           <%= label_tag "完成" %>
          <% else %>
            <%= label_tag "待解决" %>
          <% end %>-->
          <% if item.status == false %>            
            <%= link_to "待完成", finish_item_path(item), :class => 'btn btn-primary btn-xs' %>
          <% else %>
            已完成
            <%= link_to "取消完成", unfinish_item_path(item)%>
          <% end %>
        </td>
        <td><%= markdown item.content %></td>
        <td><%= item.name %></td>
        <td><%= time_ago_in_words(item.created_at) %>前</td>
        <td>
          <%= link_to "修改",
                      edit_item_path(item), :class => 'btn btn-default btn-xs' %>
          <%= link_to "删除",
                      item_path(item),
                      :method => :delete,
                      :data => { :confirm => '确定删除？' },
                      :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@mdo">新增</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <%= form_for @item, :html => { :class => "form-horizontal test_item" } do |f| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">新增一个项目</h4>
      </div>
      <div class="modal-body">


        <% if @item.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>
            </div>
            <div class="panel-body">
              <ul>
              <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="control-group">
          <div class="controls">
            <%= f.hidden_field :status, :class => 'form-control' %>
          </div>
          <%= f.error_span(:status) %>
        </div>

        <div class="control-group">
          <%= f.label "内容", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :content, :class => 'form-control', :placeholder => '支持markdown语法' %>
          </div>
          <%= f.error_span(:content) %>
        </div>
        <div class="control-group">
          <%= f.label "责任人", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <%= f.error_span(:name)%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <%= f.submit "提交", :class => 'btn btn-primary' %>
      </div>

      <% end %>

    </div>
  </div>
</div>